
.titlearea{
    display: flex;
    text-align: center;
    height: 5rem;
    background-color: white;

}
.logo{
    flex:1;
    text-decoration: none;
    padding-top: 1.2rem;
}
.bask{
    color: #ff5f24;
}
.icons{
    flex:1;
    padding-top: 1.1rem;
} 
.icons button{
   background-color: #eeeeee;
   border: none;
   border-radius: 4px;
   margin-left: 1rem;
}
.mainbody{
    background-color: #eeeeee;
    height:auto;
    text-align: -webkit-center;
   }
   .row{
    justify-content: center;
   }
 
.header{
    background-image:url(../image/banner-bg.webp);
    background-size: cover;
    background-repeat: repeat-y;
    background-position-y: 21.2rem;
    width:100%;
    height:20rem;
    text-align: center;
    padding-top: 5rem;
    position: relative;
}
#items{
    width: 200px;
    height: 300px;
    background-color: white;
    position: absolute;
    right:100px;
    top:10px;
    overflow-x: hidden;
    display: none;
}
#items img{
    width:50px;
    height:50px;
}
.itemlisthead{
    display: flex;
}

#cart{
    width: 300px;
    height: auto;
    background-color: white;
    margin-left: 20px;
    position: absolute;
    right: 15px;
    top: 0;
    display: none;
}
#cartbody{
    position: relative;
    left: 0;
}
#imgsrc{
    max-width: 100px;
    max-height: 100px;
    
}
.delete{
    display: none;
}
#login{
    width: 300px;
    height: auto;
    background-color: white;
    margin-left: 20px;
    position: absolute;
    right: 15px;
    top: 0;
    display: none;
    z-index: 1;
}
#form2Example1{
    width:200px;
    }
#form2Example2{
    width:200px;
    }
.form-outline{
    margin-left:50px;

}

#closebutton{
    border: none;
}
.maincont{
justify-content: center;
}
.stickhead{
   text-align: center;
   position:relative;
   width:240px;
   height:60px;
   background-color: #ff5f24;
   top: 25px;
  
   
}

.stickstyle::after{
    content: "";
    position: absolute;
    bottom: 0;
    left:0;
    width:0;
    height:0;
    border-left: 17px solid #eeeeee;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
    justify-content: center;
}

.stickstyle::before{
    content: "";
    position: absolute;
    bottom:0;
    right:0;
    width:0;
    height:0;
    border-right: 17px solid #eeeeee;
    border-top: 31px solid transparent;
    border-bottom: 31px solid transparent;
    justify-content: center;
}


.btn{
    border: 1px solid;
    box-shadow: 2px 2px;
}
.card-text{
    font-size: smaller;
}
.card{
    text-align: center;
    height:auto;
    padding:20px 0;
    width:25vw;
    border:10px solid transparent;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 3px 5px #aaaaaa, inset 0 0 0 1px rgb(173,164,164);
    justify-content: center;
    
} 
.card:hover{
    border: 2px solid;
}
.fa-star{
    color: orange;
}
.card-img-top{
    width: 10rem;
    height:auto
}
#products{
    color: orange;
}
h6{
    color:#817878;
    font-size: 15px;
}
button{
    background-color: transparent;
    margin-top: 12px;
}
button:hover{
    background-color: orange;
}
.Review img{
    border-radius: 50%;
    width:5rem;
    margin-top: 20px;
}
.cardfont{
    display: flex;
    justify-content: space-around;
    font-size: x-small
}
.fontsty{
    color: black;
}

.datestyl{
    font-size: x-small;
    display: flex;
    justify-content: space-between;
}
i span{
    font-size: x-small;
    color:black; 
}
.fa-briefcase{
    margin-left: 50px;
    color: #ff5f24;
}
.usrsty{
    color: #ff5f24;
}
h5~i{
    padding-top: 10px;
}

.footer{
    margin-top:2rem ;
    background-color:white ;
}
.footer h5{
    color:blue;
    padding-top: 2rem;
    
}
.ico i{
    color: orange;
}
.anime:hover{
    position: relative;
  animation: mymove 1s;
  

}
@keyframes mymove {
    from {left: 0px;}
    to {left: 20px;}

}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header {
    background-position-y: 20.2rem;
    }
    .card{
        top:10px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .header {
        background-position-y: 20.2rem;
        }
        .card{
            top:10px;
        }
    }


@media only screen and (min-device-width: 481px) and (max-device-width: 767px) and (orientation:portrait) {
    .header {
        background-position-y: 20.2rem;
        }
        .card{
            top:10px;
        }
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 991px) and (orientation:landscape) {
    .header {
        background-position-y: 20.2rem;
        }
        .card{
            top:10px;
        }
}
@media only screen and (min-device-width: 1024x) and (max-device-width: 1200px) and (orientation:landscape) {
   
}